body {
    padding: 0;
    margin: 0;
}

button {
    outline: none;
}

.main-canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

.main-button {
    position: fixed;
    width: 30%;
    height: 80px;
    top: 200px;
    left: calc(50% - 15%);
    background-color: lightgreen;
    border-radius: 10px;
    border: 1px double black;
    box-shadow: 1px 1px 1px 1px black;
    font-size: 20px;
}